# Python developer survey 2019 - analysis

Let's start by reading the CSV with survey data, downloaded from [here](https://drive.google.com/drive/folders/1GW86M_QLFOA2KyeWeb8hzBj_RqQIXmAU?usp=sharing) thanks to [JetBrains](https://www.jetbrains.com/lp/python-developers-survey-2019/)

### Idee
- (nan, 'Do you consider yourself as a Data-Scientist?')
-  'What is your employment status?', --> Cosa studiare per mettersi in proprio?
-  'What country do you live in?',
- ('Which of the following best describes your job role(s)?', 'Team lead') & ('Which of the following best describes your job role(s)?', 'CIO / CEO / CTO') --> cosa serve per fare carriera?


Esempio:
- Cosa devo imparare per migliorare come data scientist: quali sono le skill più richieste
- stai diventando un esperto, ma quali sono le skills richieste da: team leader (& CEO...), freelance?
- I am italian: in which skill my country is late? So I can improve!

In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Read data
df = pd.read_csv('./python_psf_external_19.csv')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,6,66,70,73,78,98,170,181,183,200,202,206,210,225,234,235,237,244,285) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Clean the data
- set multiindex column
- clean boolean data

In [136]:
# Multiindex
idx = df.columns.str.replace('::',':')
idx = idx.str.split(':', expand=True).swaplevel()
df.columns = idx

# boolean
for col_tupla in df.columns:
    values = list(set(df[col_tupla]))
    if np.nan in values:
        values.remove(np.nan)
    if col_tupla[1] == values[0]:
        if len(values) == 1: 
            df[col_tupla] = df[col_tupla].apply(lambda x: True if x == values[0] else False)
        elif len(values) == 0:
            df[col_tupla] = False

df.head()

          NaN                                                                 \
  response_id Is Python the main language you use for your current projects?
0          10                                                Yes
1         100                                                Yes
2        1000                                                Yes
3       10000                                                Yes
4       10001                                                NaN

  What other language(s) do you use?                                     \
                        Bash / Shell  C/C++     C# Clojure CoffeeScript
0                               True  False  False     NaN          NaN
1                              False  False  False     NaN          NaN
2                              False  False  False     NaN          NaN
3                               True  False  False     NaN          NaN
4                              False  False  False     NaN          NaN

                          ...  \
      Go Groovy HTML/CSS  ...
0  False  False     True  ...
1  False  False    False  ...
2  False  False    False  ...
3  False  False    False  ...
4  False  False    False  ...

  Which of the following best describes your job role(s)?              \
                                          Product manager QA engineer
0                                              False            False
1                                              False            False
2                                              False            False
3                                              False            False
4                                              False            False

                                                                \
  Systems analyst Team lead Technical support Technical writer
0           False     False             False              NaN
1           False     False             False              NaN
2           False     False             False              NaN
3           False     False             False              NaN
4           False     False             False              NaN

                                                                        NaN  \
  Which of the following industries best describes your company's business?
0      Information Technology / Software Development
1         Banking / Real Estate / Mortgage Financing
2      Information Technology / Software Development
3                                                NaN
4                                                NaN

                                                         \
  Which of the following industries do you develop for?
0      Information Technology / Software Development
1                                                NaN
2      Information Technology / Software Development
3                                                NaN
4                                                NaN


  Could you tell us your age range? What country do you live in?
0                             30–39                       Canada
1                             30–39                United States
2                             21–29                United States
3                               NaN                          NaN
4                               NaN                          NaN

[5 rows x 290 columns]

In [133]:
list(set(df[(np.nan, 'What is your employment status?')]))

[nan,
 'Freelancer <em>(a person pursuing a profession without a long-term commitment to any one employer)</em>',
 'Retired',
 'Fully employed by a company / organization',
 'Partially employed by a company / organization',
 'Working student',
 'Other – Write In:',
 "Self-employed <em>(a person earning income directly from one's own business, trade, or profession)</em>",
 'Student']

In [145]:
list(set(df[(np.nan, 'What country do you live in?')]))

[nan,
 'Kenya',
 'Turkey',
 'Netherlands',
 'Moldova',
 'Cameroon',
 'Spain',
 'South Africa',
 'China',
 'Serbia',
 'Russia',
 'Slovakia',
 'Malaysia',
 'Bangladesh',
 'Nigeria',
 'Canada',
 'Singapore',
 'Mexico',
 'Uruguay',
 'Nepal',
 'France',
 'Nicaragua',
 'Thailand',
 'Philippines',
 'Algeria',
 'Denmark',
 'Lithuania',
 'Sweden',
 'Austria',
 'Bulgaria',
 'Indonesia',
 'Australia',
 'New Zealand',
 'Zimbabwe',
 'Georgia',
 'Germany',
 'Costa Rica',
 'Cuba',
 'Czech Republic',
 'Saudi Arabia',
 'Argentina',
 'India',
 'Hong Kong',
 'Norway',
 'Estonia',
 'Romania',
 'Macedonia',
 'South Korea',
 'Ukraine',
 'Belarus',
 'Latvia',
 'Ethiopia',
 'Azerbaijan',
 'Iran',
 'Brazil',
 'Tunisia',
 'Vietnam',
 'Kazakhstan',
 'Afghanistan',
 'Morocco',
 'United Arab Emirates',
 'Egypt',
 'Slovenia',
 'Italy',
 'Israel',
 'United Kingdom',
 'Japan',
 'Sri Lanka',
 'Croatia',
 'Armenia',
 'Uganda',
 'United States',
 'Ecuador',
 'Portugal',
 'Pakistan',
 'Belgium',
 'Poland',
 'Colombia',
 'Peru',
 'Hungary',
 'Other',
 'Greece',
 'Tanzania',
 'Ireland',
 'Finland',
 'Switzerland',
 'Ghana',
 'Taiwan',
 'Albania',
 'Chile',
 'Venezuela',
 'Dominican Republic']

In [146]:
df.loc[df[(np.nan, 'What country do you live in?')]=='Italy']

              NaN  \
      response_id
233         10217
322           103
1092         1101
1629        11501
1685        11553
...           ...
46744        9469
46826        9544
46863        9581
46885        9602
46985        9697

                                                                      \
      Is Python the main language you use for your current projects?
233                                                  Yes
322                                                  Yes
1092                                                 Yes
1629                                                 Yes
1685                                                 Yes
...                                                  ...
46744                                                Yes
46826           No, I use Python as a secondary language
46863           No, I use Python as a secondary language
46885                                                Yes
46985                                                Yes

      What other language(s) do you use?                                     \
                            Bash / Shell  C/C++     C# Clojure CoffeeScript
233                                 True  False  False     NaN          NaN
322                                 True  False  False     NaN          NaN
1092                                True   True  False     NaN          NaN
1629                               False   True   True     NaN          NaN
1685                                True   True   True     NaN          NaN
...                                  ...    ...    ...     ...          ...
46744                               True  False  False     NaN          NaN
46826                              False   True  False     NaN          NaN
46863                               True   True   True     NaN          NaN
46885                               True  False  False     NaN          NaN
46985                               True   True  False     NaN          NaN

                              ...  \
          Go Groovy HTML/CSS  ...
233    False  False    False  ...
322    False   True     True  ...
1092   False  False     True  ...
1629   False  False     True  ...
1685   False  False     True  ...
...      ...    ...      ...  ...
46744  False  False    False  ...
46826  False  False    False  ...
46863  False  False     True  ...
46885  False  False     True  ...
46985  False  False     True  ...

      Which of the following best describes your job role(s)?              \
                                              Product manager QA engineer
233                                                False             True
322                                                False            False
1092                                                True            False
1629                                               False            False
1685                                               False            False
...                                                  ...              ...
46744                                              False            False
46826                                              False            False
46863                                              False            False
46885                                              False            False
46985                                              False            False

                                                                    \
      Systems analyst Team lead Technical support Technical writer
233             False     False             False              NaN
322             False     False             False              NaN
1092            False     False             False              NaN
1629            False     False             False              NaN
1685            False     False              True              NaN
...               ...       ...               ...              ...
46744           False     False             False              NaN
46826           False     False             False              NaN
46863           False     False             False              NaN
46885           False     False             False              NaN
46985           False     False             False              NaN

                                                                            NaN  \
      Which of the following industries best describes your company's business?
233        Information Technology / Software Development
322        Information Technology / Software Development
1092       Information Technology / Software Development
1629                                               Other
1685       Information Technology / Software Development
...                                                  ...
46744      Information Technology / Software Development
46826                               Education / Training
46863      Information Technology / Software Development
46885                                                NaN
46985      Information Technology / Software Development

                                                             \
      Which of the following industries do you develop for?
233        Information Technology / Software Development
322        Information Technology / Software Development
1092       Information Technology / Software Development
1629                                                 NaN
1685                                       Manufacturing
...                                                  ...
46744      Information Technology / Software Development
46826                                                NaN
46863                                              Other
46885                                                NaN
46985                                      Manufacturing


      Could you tell us your age range? What country do you live in?
233                               30–39                        Italy
322                               40–49                        Italy
1092                              40–49                        Italy
1629                              21–29                        Italy
1685                              40–49                        Italy
...                                 ...                          ...
46744                             21–29                        Italy
46826                             30–39                        Italy
46863                             40–49                        Italy
46885                             21–29                        Italy
46985                             21–29                        Italy

[410 rows x 290 columns]

In [141]:
a = []
for col in df.columns:
    if col[1] == 'Other - Write In':
        print(col)
        a = a+list(set(df[col]))

('What other language(s) do you use?', 'Other - Write In')
(' What do you use Python for?', 'Other - Write In')
('What data science framework(s) do you use in addition to Python?', 'Other - Write In')

In [142]:
a

[nan, 'Other - Write In:', nan, 'Other - Write In:', nan, 'Other - Write In:']